<!DOCTYPE html>
<html lang="en" ng-app="StudentRecord">

<head>
    <div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Angular Data Binding</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        <link rel="stylesheet2" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="app.js"></script>
    </div>
</head>
<body ng-controller="mainCtrl as vm">
    <div class="container">
        <div class="row">
            <div style="width: 30%; margin: 50px auto;">
                <form ng-submit="addEntry()">
                    <div class="form-group">
                        <hi>hi</hi>
                        <input class="form-control" type="text" ng-model="searchRoll" required>{{searchRoll}
                    </div>
                </form>
                <table  class="table table-striped">
                    <tr>
                        <th>No</th>
                        <th>Fname</th>
                        <th>lname</th>
                        <th>RollNo</th>
                        <th>Number</th>
                    </tr>
                    <tr ng-repeat="entry in record"> <td>{{$index+1}}</td>
                    <td>{{entry.fName}}</td>
                    <td>{{entry.lName}}</td>
                    <td>{{entry.rollNo}}</td>
                    <td>{{entry.phoneNo}}</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>