
 <div ng-controller="deleteController as vm" class="container">


    <div class="row">
        <div style="width: 30%; margin: 50px auto;">
            <h3 class="card-subhead">Delete the Entries</h3><br>
            <br>
            <form ng-submit="delete()">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="deleteRoll" required>
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit"></input>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th>No</th>
                    <th>Fname</th>
                    <th>lname</th>
                    <th>RollNo</th>
                    <th>Number</th>
                </tr>{{vm.details}}
                <tr ng-repeat="entry in stdet ">
                    <td>{{$index+1}}</td>
                    <td>{{entry.fName}}</td>
                    <td>{{entry.lName}}</td>
                    <td>{{entry.rollNo}}</td>
                    <td>{{entry.phoneNo}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
